# Copy this file to .env then change the values to your server's settings.

# MySQL Database Info
DB_HOST=localhost
DB_PORT=3306
DB_USER=USERNAME
DB_DATABASE=DATABASE
DB_PASSWORD=PASSWORD

# Web Server Port Number
PORT=5000

# Application Envionment
# ENV=production
# ENV=staging
ENV=development

SHA_SECRET_KEY=CHANGETHIS!

MAIL_HOST = mail.example.com
MAIL_USERNAME = someuser@example.com
MAIL_PASSWORD = CHANGEME
MAIL_PORT = 587
MAIL_SECURE = 1

RECAPTCHA_SECRET_KEY=(Get from Google!)

# Paypal API
# PAYPAL_CONFIG_MODE = "sandbox"
# PAYPAL_CONFIG_CLIENT_ID = "CHANGEME"
# PAYPAL_CONFIG_CLIENT_SECRET = "CHANGEME"

PAYPAL_CONFIG_MODE = "live"
PAYPAL_CONFIG_CLIENT_ID = "CHANGEME"
PAYPAL_CONFIG_CLIENT_SECRET = "CHANGEME"
